<h4>Here are my things
  {{#link-to 'images.new'}}
    {{fa-icon "plus"}}
  {{/link-to}}
</h4>

<div class="images">
  <ul class="list-group">
    {{#each savedImages as |image|}}
      {{#link-to 'images.show' image}}
        {{my-image image=image tagName="li" thumb=true}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>

<div class="main">
  {{outlet}}
</div>
