<h4>Here are my things - {{link-to 'make new one' 'images.new'}}</h4>

<div class="images">
  <ul class="list-group">
    {{#each savedImages as |image|}}
      {{#link-to 'images.show' image}}
        {{my-image image=image tagName="li" thumb=true}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>

<div class="main">
  {{outlet}}
</div>
