<form class="image">
  <div class="fieldset">
    <label for="url">Url</label>
    {{input name="url" value=model.url}}
  </div>
  {{ember-filepicker pickerOptions=pickerOptions onSelection='fileSelected' onClose='onClose' onError='onError'}}
</form>
