<h2 id="title">Image Collection</h2>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        {{link-to "home" 'index'}}
      </li>
      <li>
        {{link-to "my" 'my'}}
      </li>
    </ul>
  </div>
</nav>

{{outlet}}
